body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #ff7e5f, #feb47b);
    font-family: Arial, sans-serif;
  }
  
  .center-content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  
  .product-list {
    text-align: center;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  p {
    margin-top: 20px;
  }
  
  /* Resto de estilos CSS */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0 10px; /* Ajusta el valor de espaciado vertical y horizontal según sea necesario */
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  /* Resto de estilos CSS */
  